@import url("https://fonts.googleapis.com/css?family=Inter:400");
@import url("https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=globe");

html {
  overflow: hidden;
}

/* My CSS */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
}

.parent {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  border: 20px solid black;
  display: flex;
  flex-direction: row;
}

.co2graph {
  height: 45%;
}

.world {
  width: 80%;
  height: 100%;
}

.ch4graph {
  height: 45%;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 190px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

/* Button CSS */

.middle {
  width: 100%;
  text-align: center;
}

.middle h1 {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.middle input[type="radio"] {
  display: none;
}

.middle input[type="radio"]:checked + .box {
  background-color: #007e90;
}

.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(70px);
}

.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}

.middle .box {
  width: 100px;
  height: 50px;
  background-color: #e3e3e3;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.middle .box:active {
  transform: translateY(10px);
}

.middle .box span {
  position: relative;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.2em;
  user-select: none;
  color: #007e90;
}

.middle .box span:before {
  font-size: 1em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}

.middle .world span:before {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.middle .continent span:before {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.middle p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

.middle p span:after {
  content: "\f0e7";
  font-family: FontAwesome;
  color: yellow;
}
