body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
}

.parent {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  border: 20px solid black;
  display: flex;
  flex-direction: row;
}

.co2graph {
  height: 45%;
}

.world {
  width: 80%;
  height: 100%;
}

.ch4graph {
  height: 45%;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 190px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
